.App {
  background-color: #1b1b32;
  font-family: Lato,sans-serif;
  min-height: 100vh;
  padding-top: 10px;
  width: 100%;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;

}

.logo-container {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  height: 50px;
}

.content-calculator{
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
  min-width: 400px;
  min-height: 500px;
  padding: 14px;
}

.row{
  margin:4px;
  display:flex;
  align-items: center;
  justify-content: center;
}

